py
cycler
dacite
fonttools
gitdb
GitPython
htmlmin
idna
ImageHash
importlib-metadata
importlib-resources
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
llvmlite
markdown-it-py
MarkupSafe
matplotlib
mdurl
multimethod
numpy
packaging
pandas
pandas-profiling
patsy
phik
Pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
PyWavelets
scikit-learn
seaborn
statsmodels
tqdm
ydata-profiling
streamlit==1.28.2
streamlit-pandas-profiling==0.1.3
